.App {
  text-align: center;
}

nav{
  background: rgb(54, 21, 21);
  color: white;
  display: flex;
  list-style: none;
  flex-flow:wrap;
  justify-content: flex-end;
}
nav li{
  padding:1rem;
  margin: 0.8rem;
}